.App {
  background-color: #dbedf7;
  height: 100vh;
  width: 100vw;
}

.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.top-right-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.upload-resume-btn {
  padding: 10px 15px;
  border: none;
  background: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none; /* Removes underline from Link */
  transition: background 0.3s;
}

.upload-resume-btn:hover {
  background: #45a049;
}
.upload-resume-container {
  text-align: center;
  margin-top: 50px;
}

.resume-preview {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.resume-preview iframe {
  border: none;
}

.navbar {
  background: #007bff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

.navbar a:hover {
  background: #0056b3;
  border-radius: 5px;
}

/* App.css */

/* Center the Filter Button */
.filter-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 110%);
  padding: 10px 20px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  font-size: 18px;
}

.filter-button:hover {
  background-color: #3f4a88;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.search-fields {
  display: flex;
  flex-direction: column;
}

.search-button-container {
  margin-top: 20px;
}

.react-select-container {
  margin-bottom: 15px;
}

/* When sidebar is hidden, move it out of view */
.sidebar {
  transform: translateX(100%);
}

.sidebar.open {
  transform: translateX(0);
}


